/* p{
color: blue; text-align: center;
font-size: 50px;




}   



span{color: black;
text-align: end;}


.header{color: blueviolet;

font-size: 50px;
text-align: center;

}


#pp-id{background-color: red;}

body{background-color:whitesmoke;}

.header{
    padding: 40px;
    margin: 50px;
}

.my-list{list-style: none; background-color: black; color: green;          }
.my-list li{background-color: red;color: yellow;}




 */

/* .main-one{background-color:aqua;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: header header;



}
   
.item1 { grind-area:


} */

/* .my-box1{
height:auto;
border: 5px solid red;
width: 300px;
font-size: 30px;
font-weight:bold;
text-align: center;

    

}


.my-box{ display: flex;
    justify-content:center;
    




}

/* .logo{
width: 50px;
height: 60px; */




/* .sign-up-form{ width: 300px; box-shadow:0 0 3px 0 rgba(0,0,0,0.3) ;
    background: #fff;
    padding: 20px;;
    margin:8% auto 0;
    text-align: center;
    
    
    }
    
    body{font-family: sans-serif;
    background-size:cover ;
    background-position:center;
    
    }
    
    .sign-up-form h1{
    
    color: #1c8adb; margin-bottom: 30px;
    
    
    }
    
    
    .input-box{ 
    
    border-radius: 20px;
    padding: 10px;
    margin:10px 0;
    width:100%;
    border:1px solid #999 ;
    outline:none;
    
    
    
    
    
    }
    
    
    button{
    
    color:black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin:10px 0 ;
    border: none;
    outline: none;
    cursor:pointer;
    
    
    
    
    
    
    }
    
    
    
    .sign-btn{ background-color:#1c8adb ;
    
    
    
    
    
    
    }
    
    
    .facebook-btn{ background-color: #21afde;
     
    }
    
    
    
    a{
        text-decoration:none;
    }
    
    hr{
        margin-top: 20px;
        width: 80%;
    }
    
    
    .or{
        background: #fff; 
        width: 30px;
        margin: -19px auto 10px;
    
    }
    
    
    
    
    .logo{
        width: 50px;
        height: 60px; */
    
    
    

    
 .element{ 



 }   
    
    
    
    
    
    












